<header>
    <h1 class="logo">ScreenSpace</h1>
    <nav>
        <ul>
            <a href="/" class="nav-button">HOME</a>
            <a href="/genres" class="nav-button">GENRES</a>
            <a href="/movies" class="nav-button">MOVIES</a>
        </ul>
    </nav>
</header>
