<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/stylesheets/styles.css" />
        <link rel="icon" href="/logo/favicon.ico" type="image/x-icon" />
        <title>Home</title>
    </head>
    <body>
        <div class="container">
            <%- include('header') %>
            <h1 class="hero-text">We got some cool movies</h1>

            <% if (locals.topPicks) { %>
                <h3>Top picks</h3>
                <div class="flex-container">
                    <% topPicks.forEach(movie => { %>
                        <a class="movie" href="/movies/movie/<%- movie.title %>">
                            <img src="<%= movie.path %>" alt="">
                            <h3> <%= movie.title %> </h3>
                        </a>
                    <% }) %>
                </div>
            <% } %>
        </div>
    </body>
</html>
