<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/stylesheets/styles.css" />
        <link rel="icon" href="/logo/favicon.ico" type="image/x-icon">
        <title>Movies</title>
    </head>
    <body>
        <div class="container">
            <%- include('header') %>
            <% if (locals.movies) { %>
                <div class="grid-container">
                    <% movies.forEach(movie => { %>
                        <a class="movie" href="/movies/movie/<%- movie.name %>">
                            <img src="<%= movie.path %>" alt="">
                            <h3> <%= movie.name %> </h3>
                        </a>
                    <% }) %>
                </div>
            <% } %>
            <div class="center">
                <a href="/movies/movie/new" class="button">Add new movie</a>
            </div>
        </div>
    </body>
</html>
