@import "./variables";

.movie-layout {
    display: flex;
    justify-content: space-around;
    padding: 10px;

    > * {
        flex: 0 0 400px;
    }

    img {
        max-width: 400px;
    }
}
