@import "./variables";

.movie-layout {
    display: flex;
    justify-content: space-around;
    padding: 10px;

    > * {
        flex: 0 0 400px;
    }

    img {
        max-width: 400px;
    }

    .categories {
        padding: 10px 0;
        .category {
            margin-right: 10px;
            padding: 10px;
            border: 1px solid $buttonColor;
            border-radius: 20px;
            background-color: $buttonColor;

            transition: 0.1s;
            &:hover {
                background-color: $buttonHover;
                border: 1px solid $mainColor;
            }
        }
    }

    .rating {
        padding: 10px 0;
        display: flex;
        align-items: center;
    }

    path {
        fill: $fontColor;
    }

    @media (max-width: 1100px) {
        > * {
            flex: 0 0 300px;
        }
        img {
            max-width: 300px;
        }
    }

    @media (max-width: 800px) {
        > * {
            flex: 0 0 200px;
        }
        img {
            max-width: 200px;
        }
    }
    @media (max-width: 600px) {
        flex-direction: column;
        img {
            max-width: 100%;
        }
    }
}
