@import "./variables";
@import "./movie";

html,
body {
    background-color: $backgroundColor;
    color: $fontColor;
    font-family: "Arial";
}

.container {
    margin: 0 5em;

    @media (max-width: 1000px) {
        margin: 0 2em;
    }
    @media (max-width: 700px) {
        margin: 0 1em;
    }
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $mainColor;
    .logo {
        display: flex;
        align-items: center;
        flex-grow: 1;

        img {
            max-width: 50px;
            max-height: 50px;
        }
    }

    .nav-button {
        padding: 10px;
        border-radius: 4px;

        transition: 0.1s;
        &:hover {
            background-color: $buttonHover;
        }
    }
}

a {
    color: $fontColor;
    text-decoration: none;
}

.hero-text {
    text-align: center;
    padding: 200px;
}

.watchlist-button,
.button-new-movie {
    width: max-content;
    margin: 20px auto;
    font-size: 2em;
    border: 0;
    border-radius: 20px;
    cursor: pointer;
    padding: 10px;
    color: $fontColor;
    background-color: $mainColor;

    transition: 0.1s;
    &:hover {
        background-color: $mainDarker;
    }
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;

    img {
        max-width: 100%;
    }

    .genre,
    .movie {
        flex: 0 0 20%;
        box-sizing: border-box;
        margin: 10px;
        padding: 0;
        background-color: $backgroundDarker;
        border: 2px solid $mainColor;

        h3 {
            margin: 0.5em;
        }

        &:hover {
            box-shadow: 0px 0px 10px 5px $backgroundDarker;
            img {
                filter: brightness(50%);
            }
        }

        @media (max-width: 1200px) {
            flex: 0 0 30%;
        }
        @media (max-width: 1000px) {
            flex: 0 0 40%;
        }
        @media (max-width: 800px) {
            flex: 0 0 45%;
        }
    }
}

.new-movie-form {
    margin: auto;
    display: flex;
    flex-direction: column;
    max-width: 300px;
    input {
        margin-top: 0.5em;
        margin-bottom: 2em;
        border-radius: 5px;
        border: 0;
        padding: 5px;
        background-color: $backgroundDarker;
        color: $fontColor;

        &:focus-visible {
            outline: 2px solid $mainColor;
        }
    }
}

.center {
    display: flex;
    justify-content: center;
    text-align: center;
}
