@import "./variables";
@import "./movie";

html,
body {
    background-color: $backgroundColor;
    color: $fontColor;
    font-family: "Arial";
}

.container {
    margin: 0 5em;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $mainColor;
    .logo {
        display: flex;
        align-items: center;
        flex-grow: 1;

        img {
            max-width: 50px;
            max-height: 50px;
        }
    }
}

a {
    color: $fontColor;
    text-decoration: none;
}

.nav-button {
    padding: 10px;
    border-radius: 4px;

    transition: 0.1s;
    &:hover {
        background-color: $buttonHover;
    }
}

.hero-text {
    text-align: center;
    padding: 200px;
}

.categories {
    padding: 10px 0;
    .category {
        margin-right: 10px;
        padding: 10px;
        border: 1px solid $buttonColor;
        border-radius: 20px;
        background-color: $buttonColor;

        transition: 0.1s;
        &:hover {
            background-color: $buttonHover;
            border: 1px solid $mainColor;
        }
    }
}

.watchlist-button {
    width: 100%;
    font-size: 2em;
    border: 0;
    border-radius: 20px;
    cursor: pointer;
    padding: 10px;
    color: $fontColor;
    background-color: $mainColor;

    transition: 0.1s;
    &:hover {
        background-color: $mainDarker;
    }
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;

    img {
        max-width: 100%;
    }

    .genre,
    .movie {
        flex: 0 0 300px;
        box-sizing: border-box;
        margin: 10px;
        padding: 0;
        background-color: $itemBackground;
        border: 2px solid $mainColor;

        h3 {
            margin: 0.5em;
        }

        transition: 0.1s ease;
        &:hover {
            box-shadow: 0px 0px 10px 5px #000000;
            img {
                filter: brightness(50%);
            }
        }
    }
}

.rating {
    padding: 10px 0;
    display: flex;
    align-items: center;
}

path {
    fill: $fontColor;
}
