@import "./variables";
@import "./movie";

html,
body {
    background-color: $backgroundColor;
    color: $fontColor;
    font-family: "Arial";
}

.container {
    margin: 0 5em;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
        flex-grow: 1;
    }
}

a {
    padding: 10px;
    text-decoration: none;
    color: $fontColor;
    border-radius: 4px;
    &:hover {
        background-color: $buttonHover;
    }
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;

    img {
        max-width: 100%;
    }

    .genre,
    .movie {
        flex: 0 0 300px;
        box-sizing: border-box;
        margin: 10px;
        padding: 0;

        h3 {
            margin: auto;
        }
    }
}
